# Godot 4+ specific ignores.
.godot/
android/

Export/*
!Export/.gdignore
export_presets.cfg

# Temporary folder for asset management.
Assets/*
!Assets/.gdignore

# Automation related files.
__pycache__
*.gen.*

# Editor specific files.
*.kate-swp
